:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-accent: #FF6363;

  --color-gray: rgb(0 0 0 / 0.1);

  --gradient: linear-gradient(180deg, rgba(231, 249, 253, 0.00) 0%, #E7F9FD 100%);

  --border-radius-m: 60px;
  --border-radius: 30px;
  --border-radius-s: 16px;
  --border-radius-xs: 8px;


  --font-family-base: 'Inter';

  --container-width: #{$container-desktop-width}px;

  --container-padding-x: 16px;

  --transition-duration: 0.2s;

  --layer-mobile-menu: 100;
}